/* ===== General ===== */
body {
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.container {
    max-width: 900px;
}

/* ===== Forms ===== */
form {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

label {
    font-weight: bold;
}

input, select {
    margin-bottom: 10px;
}

/* ===== Buttons ===== */
.btn {
    margin-right: 5px;
}

/* ===== Tables ===== */
table {
    background: #fff;
}

table th {
    background: #0d6efd;
    color: #000000;
}

/* ===== Navbar ===== */
.navbar {
    margin-bottom: 30px;
}

body {
    background-image: url("../1.PNG"); /* صورة الخلفية */
    background-size: cover;        /* تملى الشاشة */
    background-position: center;   /* في النص */
    background-repeat: no-repeat;  /* بدون تكرار */
    background-attachment: fixed;  /* ثابتة مع السكرول */
}
.navbar {
    background-color: #fff; /* شوية شفافية */
}

.schedule-page {
    background-image: url("../trainpng.parspng.com-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
